so my boss asked me to verify all the rules he have written and as some of them cause some false postive and error
so he wants me to verify all of them once then if they have some real problem we can just update all together rather than doing them one by one 

well the idea is correct and actually i am happy to do 
that 
As it is weekend and i got nothing else to do 
and its just enough work that i can do in one day 
and end up my friday perfectly with work done 
work reported 
and come back on monday with no backlog and fresh start 
Then sir can assign me with new stuff no problem and for him too i have done everything 

And i will also share my work done till now by today evening so my mentor knows i did the work and not sitting around as a intern here 


well finished the work it was kind of odd my mentor is kind of again pushing me away i felt like that
well i think it is true i have shown him that i can work now i am going a little off i am working and working only i should socialize a little more
with full time show them that i am the fun type of guy too 
so from monday i will do that
i will show them i am fun too

and then by the end of this week i will ask divyanshu if he can put a good word for me to karthik 

then i can ask him for full time role 
well hope so if everything went well then 
