so my boss asked me to verify all the rules he have written and as some of them cause some false postive and error
so he wants me to verify all of them once then if they have some real problem we can just update all together rather than doing them one by one 

well the idea is correct and actually i am happy to do 
that 
As it is weekend and i got nothing else to do 
and its just enough work that i can do in one day 
and end up my friday perfectly with work done 
work reported 
and come back on monday with no backlog and fresh start 
Then sir can assign me with new stuff no problem and for him too i have done everything 

And i will also share my work done till now by today evening so my mentor knows i did the work and not sitting around as a intern here 


well finished the work it was kind of odd my mentor is kind of again pushing me away i felt like that
well i think it is true i have shown him that i can work now i am going a little off i am working and working only i should socialize a little more
with full time show them that i am the fun type of guy too 



so big day not that big 
for today only i was thinking to go meet divyanshu and ask him to if he can put a good word for me 
in front of karthik as he doesnt know how much work i have done 
and if i am of any good to them 
i have been helping him for last 1 month now around
and it has been a very good 

but now i have to show them that i am not only fun but i am also who they want rather than those iit tag student and i have more potential in the field they want to work 


also i am thinking to first talk to rahul sir about this 
Cause here i can get 10-18 lpa
and live in kanpur but it is a research hub 
and the one sir was talking about earlier 
rohde and schwartz is a big german giant 
but just be real sir said he can get me a interview or stuff 
but not the 100% job guranete and here i am already settled and cool with core team so it is great 
so lets watch a video of office at rohde and schwartz lets see
so from monday i will do that
i will show them i am fun too

and then by the end of this week i will ask divyanshu if he can put a good word for me to karthik 

then i can ask him for full time role 
well hope so if everything went well then 
